

div.project {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin-top: 50px;
    img {
        width: auto;
        height: auto;
        border-radius: 13px;
    }

    h3 {
        font-size: 14vw;
    }

    .textbox {
        margin: 25px 0;

        :not(:first-child){
            margin-top: 5px;
        }
    }
    .buttonContainer {

        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;

        a.button {
            display: flex;
            justify-content: center;
            align-items: end;
            gap: 20px;
            text-align: center;
    
            width: 100%;
    
            background: #0000004f;
            border: 1px solid white;
            padding: 10px;
            border-radius: 12px;
    
            font-size: 16px;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif;
    
            outline: none;
        
            display: flex;
            justify-content: center;
        }
    }

    .iconContainer {
        display: flex;
        gap: 10px;
        padding: 12px 7px;
    }

    .moreInfo {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 10px;
        gap: 5px;
    }
}


@media  (min-width: 850px){

    div.project {
        h3 {
            font-size: 14vb;
        }
    }
}